@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  min-width: 100vw;
}

/* Banner */

header {
  margin: 0;
  background-color: #fff;
}

.logo-container a {
  width: 100vw;
  display: block;
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 10em;
  padding: 2em 0;
  margin: 0px 2em
}

.logo-container:hover {
  background-color: #f0f0f0;
}

.nav-inicio {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  color: #4483ce;
  font-weight: 500;
  font-family: 'Sora', sans-serif;
  padding: 0 0 2em 0;
  background-color: #fff;
}

.nav-inicio li {
  padding: 7px 25px;
  border-radius: 7px;
  cursor: pointer;
}

.nav-inicio li:hover {
  background-color: #4483ce;
  color: #fff;
  padding: 7px 25px;
  border-radius: 7px;
  transition: .5s;
}

.titulo-banner {
  font-weight: 500;
  color: #ffffffef;
  text-shadow: 2px 1.5px 1.5px black;
}

.texto-banner {
  color: #ffffffef;
  text-shadow: 2px 1.5px 1.5px black;
}

.carousel-item img{
    height: 250px;
    object-fit: cover;
}

/* Banner -------- fin */

.titulo {

  text-align: center;
  padding-top: 10px;
  color: #fff;
  text-shadow: 2px 1.5px 1.5px black;
}

footer.aboutFooter {
  text-align: center;
  padding: 16px;
  margin: 2.5% 0;
  background-color: #029cdf;
}

p.aboutFooter {
  color: #fff;
  margin: 0%;
  padding: 0%;
  font-family: 'Sora', sans-serif;
  font-size: smaller;
}

p.description{
  min-height: 50px;
}

/*product cards*/
.shop-content {
  display: flex !important;
  justify-content: space-around !important;
  flex-wrap: wrap !important;
  margin-top: 30px !important;
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  width: 350px !important;
  text-align: center !important;
  font-family: arial !important;
  margin: 10px !important;
  border-radius: 15px !important;
}

/*
.card:hover {
  border: 3px solid #29251c;
  transition: .4s;
  transform: scale(1.05);button
}*/

.card > img {
  width: 100%;
  max-height: 200px;
  object-fit: scale-down;
  padding-top: 10px;
}

.card a {
  text-decoration: none;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4483ce;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 0px 2px #4483ce;
}

.card a:hover {
  transition: .5s;
  color: black;
  background-color: #e6b04d;
  box-shadow: 0px 0px 0px 2px #e6b04d;
}


/* RESPONSIVE */
/* Responsive para Tablet de 768 para arriba */
@media (min-width: 768px) and (max-width: 1024px) {


  /* Banner */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
  }

  .logo-container a {
    width: 100%;
  }

  .nav-inicio {
    padding: 0;
    margin: 0 1em;
  }

  .logo-container img {
    width: 9em;
  }

  .carousel {
    background-color: #fff;
  }

  .carousel-item img{
    height: 350px;
    object-fit: cover;
}

  .carousel-inner img {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;  
  }

  .carousel-inner {
    padding: 0 3em 1em 3em;

  }
  
}
  /* Banner -------- fin */

  /* Responsive para PC de 1024 para arriba */

  @media (min-width: 1024px) {

    /* Banner */

    body.borderpage {
      padding: 0 10%;
      background: linear-gradient(90deg, rgba(0,147,216,1) 0%, rgba(3,173,238,1) 100%);
    }

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .logo-container a {
      width: 100%;
    }

    .nav-inicio {
      padding: 0;
      margin: 0 1em;
    }

    .logo-container img {
      width: 9em;
    }

    .carousel {
      background-color: #fff;
    }

    .carousel-item img{
      height: 500px;
      object-fit: cover;
  }

    /* Banner -------- fin */

  }