/* ARTICULOS */

/* Responsive telefonos */
.container {
    background-color: rgb(255, 255, 255);
    padding: 2em 0px;
    margin: 0px;
    min-width: 100%;
}
/* Titulo */
.container h6.publica{
   font-family: 'Sora', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #e5a723;
}
.Articulo {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    place-items: center;
}
.Articulo img {
    width: 100%;
    padding: 40px;
}
.Articulo h6 {
    font-size: 25px;
    text-align: center;
    font-family: Alata, sans-serif;
    color: rgb(68, 131, 206);
}
.Articulo p {
    font-size: 1em;
    font-family: Sora, sans-serif;
    text-align: center;
}

/* Responsive tabletas */
@media (min-width: 512px) {
    .Articulo {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-bottom: 2em;
   }
    .Articulo img {
        width: 320px;
        margin: 0px;
   }
    .Articulo h6 {
        text-align: left;
   }
    .Articulo p {
        text-align: left;
        font-size: 15px;
        width: 15em;
   }
}

/* Responsive escritorio */
@media (min-width: 768px) {
    .Articulo {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-bottom: 2em;
   }
    .Articulo img {
       width: 320px;
       margin: 0px;
       padding: 0;
   }
    .Articulo h6 {
       text-align: left;
       width: 15em;
   }
    .Articulo p {
       text-align: left;
       font-size: 15px;
       width: 30em;
       padding: 0 50px 0 0;
   }
}