@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  min-width: 100vw;
}



.titulo {
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: #e5a723;
  background-color: #fff;
  margin: 0;
  padding: 2em 0px;
  text-shadow: 0.5px 0.5px 2px #54bab4;
}

p.description{
  min-height: 50px;
}

/*product cards*/
.shop-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
  background-color: #fff;
  padding-bottom: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  width: 350px !important;
  text-align: center !important;
  font-family: arial !important;
  margin: 10px !important;
  border-radius: 15px !important;
}

/*
.card:hover {
  border: 3px solid #29251c;
  transition: .4s;
  transform: scale(1.05);button
}*/

.card > img {
  width: 100%;
  max-height: 200px;
  object-fit: scale-down;
  padding-top: 10px;
}

.card a {
  text-decoration: none;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4483ce;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 0px 2px #4483ce;
}

.card a:hover {
  transition: .5s;
  color: black;
  background-color: #e6b04d;
  box-shadow: 0px 0px 0px 2px #e6b04d;
}


/* RESPONSIVE */
/* Responsive para Tablet de 768 para arriba */
@media (min-width: 768px) and (max-width: 1024px) {


}

  /* Responsive para PC de 1024 para arriba */

  @media (min-width: 1024px) {

    

  }