@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

/* TARJETAS */

/* Responsive telefonos */
.div-tarjeta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #f5f5f5;
  padding: 1em 0px;
}

.card-titulo {
  padding: 1em;
  color: rgb(230, 169, 26);
  background-color: #f5f5f5;
  margin: 0px;
  font-size: 25px;
  text-align: center;
}

.card-titulo span {
  color: rgb(58, 207, 192);
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  max-width: 250px;
  min-height: 415px;
  border-radius: 10px;
  box-shadow: rgb(73, 69, 52) 2px 2px 4px;
  transition: all 0.5s ease 0s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.694) 0px 5px 15px;
  transform: translateY(-15px);
}

.card .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background: #f5f5f5;
}

.card .content .img {
  height: 50%;
  margin-bottom: 20px;
}

.card .content .img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgb(73, 69, 52) 2px 2px 2px;
}

.card .content span {
  position: absolute;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, rgb(230, 169, 26), rgb(58, 207, 192));
  transform: rotate(-35deg);
  top: -80px;
  left: -100px;
}

.card .content h2 {
  font-size: 20px;
  color: rgb(230, 169, 26);
  font-weight: bold;
  margin-bottom: 5px;
  z-index: 1;
}

.card .content h5 {
  font-size: 15px;
  margin-top: 10px;
}

.card .links {
  position: absolute;
  z-index: 90;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(73, 69, 52, 0.4) 2px 3px 5px;
  padding: 15px;
  align-items: center;
  right: 10px;
  top: 8px;
  transition: all 0.5s ease 0s;
}

.card:hover .links {
  right: -50px;
  border-radius: 0px 10px 10px 0px;
}

.card .links a {
  font-size: 25px;
  color: rgb(100, 96, 105);
  margin: -2px;
}

.card .links a:nth-child(1):hover {
  color: rgb(238, 32, 52);
}

.card .links a:nth-child(2):hover {
  color: rgb(14, 118, 168);
}

.card .links a:nth-child(3):hover {
  color: rgb(136, 16, 160);
}

/* Responsive tabletas */
@media (min-width: 512px) {
  .div-tarjeta {
    padding: 1em 6em;
  }

  .card {
    margin: 2.1em;
    width: 220px;
  }
}

/* Responsive escritorio */
@media (min-width: 768px) {
  .div-tarjeta {
    padding: 1em;
  }

  .card {
    margin: 2.1em;
    width: 220px;
  }
}