@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

/* FOOTER */

/* Responsive telefonos */
footer.aboutFooter {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(90deg, rgba(0, 147, 216, 1) 0%, rgba(3, 173, 238, 1) 100%);
  min-width: 200px;
}

.footerImages {
  width: 50ox;
  display: flex;
  justify-content: flex-start;
}

.footerImages img {
  margin: 20px;
  width: 33%;
  height: auto;
  object-fit: contain;
}

.footerContent {
  width: 66%;
  display: flex;
  justify-content: flex-start;
  text-align: left;

}

.footerContent div {
  margin-right: 50px;
  margin: auto auto;

}

.aboutFooter p {
  color: #f5f5f5;
  background: (rgba(3, 173, 238, 1) 100%);
  margin: 0%;
  font-family: 'Sora', sans-serif;
  font-size: smaller;
  width: 100%;
}

.copyrights {
  width: 80%;
}

/* Responsive tabletas y escritorio */
@media (max-width: 768px) {
  .div copyrights {
    width: 100%;
  }

  .aboutFooter {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition-duration: 1s;
  }

  .footerImages,
  .footerContent {
    width: 100%;
    margin-bottom: 20px;
    transition-duration: 1s;
  }

  .footerImages {
    justify-content: center;
    transition-duration: 1s;
  }

  .footerImages img {
    width: 50%;
    margin: 40px 5px 0px 5px;
    padding: 0 10% 0 10%;
    transition-duration: 1s;
    justify-content: center;
  }

  .footerContent {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    text-align: left;
    transition-duration: 1s;
    width: 100%;
  }

  .footerContent div {
    width: 100%;
    transition-duration: 1s;
  }

  .aboutFooter {
    text-align: left;
    width: 100%;
    transition-duration: 1s;
  }

  .aboutFooter p {
    width: 100%;
    transition-duration: 1s;
    margin: 10px 0;
  }

}