@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  min-width: 100vw;
}

/* Banner */

header {
  margin: 0;
  background-color: #fff;
}

.logo-container a {
  width: 100vw;
  display: block;
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 10em;
  padding: 2em 0;
  margin: 0px 2em
}

.nav-inicio {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  color: #4483ce;
  font-weight: 500;
  font-family: 'Sora', sans-serif;
  padding: 0 0 2em 0;
  background-color: #fff;
}

.nav-inicio li {
  padding: 7px 25px;
  border-radius: 7px;
  cursor: pointer;
}

.nav-inicio li:hover {
  background-color: #4483ce;
  color: #fff;
  padding: 7px 25px;
  border-radius: 7px;
}

.titulo-banner {
  font-weight: 500;
  color: #ffffffef;
  text-shadow: 2px 1.5px 1.5px black;
}

.texto-banner {
  color: #ffffffef;
  text-shadow: 2px 1.5px 1.5px black;
}


/* Banner -------- fin */






/* Valores, mision, vision */

.container {
  background-color: #fff;
  padding: 2em 0;
  margin: 0;
  min-width: 100%;
  /*Para que ocupe todo el ancho en las secciones*/
}

/*----- valores------*/

.Valores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  place-items: center;
  padding: 10em auto 0 auto;
}

.Valores img {

  width: 300px;
  height: 280px;
  margin-top: 2em;
}

.Valores h6 {
  margin: 1em auto .5em auto;
  font-size: 25px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  color: #4483ce;
}

.Valores p {
  font-size: 1em;
  margin-right: 2em;
  font-family: 'Sora', sans-serif;
  text-align: center;
  line-height: 1.5
}

/*----- mision------*/

.Mision {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  place-items: center;
  padding: 10em auto 0 auto;
}

.Mision img {
  width: 350px;
  height: 200px;
  margin-top: 2em;
  object-fit: fill;
}

.Mision h6 {
  margin: 1em auto .5em auto;
  font-size: 25px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  color: #4483ce;
}

.Mision p {
  font-size: 1em;
  margin-right: 2em;
  font-family: 'Sora', sans-serif;
  text-align: center;
  line-height: 1.5
}

/*------vision---------*/

.Vision {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  place-items: center;
  padding: 10em auto 0 auto;
}

.Vision img {
  width: 350px;
  height: 350px;
  margin-top: 2em;
}

.Vision h6 {
  margin: 1em auto .5em auto;
  font-size: 25px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  color: #4483ce;
}

.Vision p {
  font-size: 1em;
  margin-right: 2em;
  font-family: 'Sora', sans-serif;
  text-align: center;
  line-height: 1.5
}

/* Valores, mision, vision -------- fin */







/* Formulario y footer */



section.aboutFormulario {
  color: #4483ce;
  background-color: #fff;
}


h1.aboutFormulario {
  font-family: 'Alata', sans-serif;
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
}


form.aboutFormulario {
  display: flex;
  justify-content: center;
  padding: 0%;
  margin: 0%;
  min-width: 350px;
  background-color: #fff;
}


ul.aboutFormulario {
  list-style: none;
  margin: 0%;
  padding: 1rem;
  width: auto;
}

input.aboutFormularioNombre {
  margin-bottom: 1rem;
  align-items: center;
  width: 350px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

input.aboutFormularioTelefono {
  width: 350px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

input.aboutFormularioCorreo {
  margin-bottom: 1rem;
  width: 350px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

textarea.aboutFormularioMensaje {
  margin-bottom: 1rem;
  width: 350px;
  min-height: 150px;
  border: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

button.aboutFormulario {
  border: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
  padding: 10px 20px 10px;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

button.aboutFormulario:hover {
  background-color: #4483ce;
  color: #f0f0f0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

div.aboutFormularioTelefonoCorreo {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

footer.aboutFooter {
  text-align: center;
  padding: 16px;
  margin: 0;
  background-color: #fff;

}

p.aboutFooter {
  color: #000;
  margin: 0%;
  padding: 0%;
  font-family: 'Sora', sans-serif;
  font-size: smaller;
}

/* Formulario y footer -------- fin */








/* Tarjetas */

.div-tarjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #fff;
  padding: 1em 8em;
}

.card-titulo {
  padding: 1em;
  color: #e6a91a;
  background-color: #fff;
  margin: 0;
  font-size: 25px;
  text-align: center;
}

.card-titulo span {
  color: #3acfc0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  max-width: 250px;
  min-height: 415px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(73, 69, 52, 1);
  transition: .5s;
}

.card:hover {
  /*box-shadow: 0 5px 15px rgba(3, 89, 92, .5);*/
  box-shadow: 0 5px 15px #000000b1;
  transform: translateY(-15px)
}

.card .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background: #fff;
}

.card .content .img {
  height: 50%;
  margin-bottom: 20px;
}

.card .content .img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

.card .content span {
  position: absolute;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #e6a91a, #3acfc0);
  transform: rotate(-35deg);
  top: -80px;
  left: -100px;
}

.card .content h2 {
  font-size: 20px;
  color: #e6a91a;
  font-weight: bold;
  margin-bottom: 5px;
  z-index: 1;
}

.card .content h5 {
  font-size: 15px;
  margin-top: 10px;
}

.card .links {
  position: absolute;
  z-index: 90;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  padding: 15px;
  align-items: center;
  right: 10px;
  top: 8px;
  transition: .5s;
}

.card:hover .links {
  right: -50px;
  border-radius: 0 10px 10px 0;
}

.card .links a {
  font-size: 25px;
  color: #646069;
  margin: -2px;
}

.card .links a:nth-child(1):hover {
  color: #ee2034;
}

.card .links a:nth-child(2):hover {
  color: #0e76a8;
}

.card .links a:nth-child(3):hover {
  color: #8810a0;
}

/* Tarjetas -------- fin */






/* RESPONSIVE */


/* Responsive para Tablet de 768 para arriba */
@media (min-width: 768px) and (max-width: 1024px) {


/* Banner */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
  }

  .logo-container a {
    width: 100%;
  }

  .nav-inicio {
    padding: 0;
    margin: 0 1em;
  }

  .logo-container img {
    width: 9em;
  }

  .carousel {
    background-color: #fff;
  }

  .carousel-inner img {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
    height: 325px;
  }

  .carousel-inner {
    height: 400px;
    padding: 0 3em 1em 3em;

  }

/* Banner -------- fin */






/* Valores, mision, vision */

  .Valores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 2em;
  }

  .Valores h6 {
    text-align: left;
  }

  .Valores p {
    text-align: left;
    font-size: 15px;
  }

  .Mision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    direction: rtl;
    margin-bottom: 2em;
  }

  .Mision h6 {
    text-align: right;
  }

  .Mision p {
    text-align: right;
    margin-left: 2em;
    margin-right: 0;
    font-size: 15px;
  }

  .Vision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  }

  .Vision h6 {
    text-align: left;
  }

  .Vision p {
    text-align: left;
    font-size: 15px;
  }

/* Valores, mision, vision ------- fin */






/* Cards */

  .div-tarjeta {
    padding: 1em 6em;
  }

  .card {
    margin: 2.1em;
    width: 220px;
  }

/* Cards -------- fin */




/* Formulario y footer */

section.aboutFormulario {
  color: #4483ce;
  background-color: #fff;
}


h1.aboutFormulario {
  font-family: 'Alata', sans-serif;
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
}


form.aboutFormulario {
  display: flex;
  justify-content: center;
  padding: 0%;
  margin: 0%;
}


ul.aboutFormulario {
  list-style: none;
  margin: 0%;
  padding: 1rem;
  min-width: auto;
}

input.aboutFormularioNombre {
  margin-bottom: 1rem;
  align-items: center;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

input.aboutFormularioTelefono {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

input.aboutFormularioCorreo {
  margin-bottom: 1rem;
  width: 285px;
  height: 40px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

textarea.aboutFormularioMensaje {
  margin-bottom: 1rem;
  width: 400px;
  min-height: 150px;
  border: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

button.aboutFormulario {
  border: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
  padding: 10px 20px 10px;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

button.aboutFormulario:hover {
  background-color: #4483ce;
  color: #f0f0f0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

div.aboutFormularioTelefonoCorreo {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
}
/* Formulario y footer -------- fin*/




}







/* Responsive para PC de 1024 para arriba */

@media (min-width: 1024px) {

/* Banner */

  body.borderpage {
    padding: 0 10%;
    background-color: #009cdf;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container a {
    width: 100%;
  }

  .nav-inicio {
    padding: 0;
    margin: 0 1em;
  }

  .logo-container img {
    width: 9em;
  }

  .carousel {
    background-color: #fff;
  }

  .carousel-inner img {
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    height: 450px;
  }

  .carousel-inner {
    padding-bottom: 1em;
  }

/* Banner -------- fin */







/* Valores, mision, vision */

  .Valores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .Valores img {
    width: 250px;
    height: 250px;
  }

  .Valores h6 {
    text-align: left;
    font-size: 1.5em;
  }

  .Valores p {
    text-align: left;
    font-size: 12px;
  }

  .Mision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    direction: rtl;
  }

  .Mision img {
    width: 300px;
    height: 250px;
  }

  .Mision h6 {
    text-align: right;
    font-size: 1.5em;
  }

  .Mision p {
    text-align: right;
    margin-right: 0;
    margin-left: 2em;
    font-size: 12px;
  }

  .Vision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .Vision img {
    width: 250px;
    height: 250px;
  }

  .Vision h6 {
    text-align: left;
    font-size: 1.5em;
  }

  .Vision p {
    text-align: left;
    font-size: 12px;
  }

/* Valores, mision, vision ------- fin */



/* Cards */

  .div-tarjeta {
    padding: 1em 1em;
  }

  .card {
    margin: 2.1em;
    width: 220px;
  }

/* Cards -------- fin*/



/* Formulario y footer */

section.aboutFormulario {
  color: #4483ce;
  background-color: #fff;
}


h1.aboutFormulario {
  font-family: 'Alata', sans-serif;
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
}


form.aboutFormulario {
  display: flex;
  justify-content: center;
  padding: 0%;
  margin: 0%;
}


ul.aboutFormulario {
  list-style: none;
  margin: 0%;
  padding: 1rem;
  min-width: auto;
}

input.aboutFormularioNombre {
  margin-bottom: 1rem;
  align-items: center;
  width: 700px;
  height: 40px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

input.aboutFormularioTelefono {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

input.aboutFormularioCorreo {
  margin-bottom: 1rem;
  width: 535px;
  height: 40px;
  border-radius: 5px;
  color: #000;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

textarea.aboutFormularioMensaje {
  margin-bottom: 1rem;
  width: 700px;
  min-height: 150px;
  border: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

button.aboutFormulario {
  border: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
  padding: 10px 20px 10px;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

button.aboutFormulario:hover {
  background-color: #4483ce;
  color: #f0f0f0;
  box-shadow: 2px 2px 2px rgba(73, 69, 52, 1);
}

div.aboutFormularioTelefonoCorreo {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
}

/* Formulario y footer -------- fin*/


}