@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
html { margin: 0px; padding: 0px; width: 100%; }
body { font-family: Sora, sans-serif; margin: 0px; min-width: 100vw; }
.container { background-color: rgb(255, 255, 255); padding: 2em 0px; margin: 0px; min-width: 100%; }

/* PUBLICA TU OFERTA */
.container h6.publica{
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  color: #e5a723;
}

.Valores { grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); grid-auto-rows: minmax(200px, auto); grid-auto-flow: dense; place-items: center; }
.Valores img { width: 100%; padding: 40px; }
.Valores h6 { font-size: 25px; text-align: center; font-family: Alata, sans-serif; color: rgb(68, 131, 206); }
.Valores p { font-size: 1em; font-family: Sora, sans-serif; text-align: center; }
.Mision { display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); grid-auto-rows: minmax(200px, auto); grid-auto-flow: dense; place-items: center; }
.Mision img { width: 100%; padding: 100px; }
.Mision h6 { font-size: 25px; text-align: center; font-family: Alata, sans-serif; color: rgb(68, 131, 206); }
.Mision p { font-size: 1em; font-family: Sora, sans-serif; text-align: center; }
.Vision { display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); grid-auto-rows: minmax(200px, auto); grid-auto-flow: dense; place-items: center; }
.Vision img { width: 100%; padding: 150px; }
.Vision h6 { font-size: 25px; text-align: center; font-family: Alata, sans-serif; color: rgb(68, 131, 206); }
.Vision p { font-size: 1em; font-family: Sora, sans-serif; text-align: center; }
.div-tarjeta { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; min-height: 100%; background-color: rgb(255, 255, 255); padding: 1em 0px; }
.card-titulo { padding: 1em; color: rgb(230, 169, 26); background-color: rgb(255, 255, 255); margin: 0px; font-size: 25px; text-align: center; }
.card-titulo span { color: rgb(58, 207, 192); }
.card { display: flex; flex-wrap: wrap; margin: 2em; max-width: 250px; min-height: 415px; border-radius: 10px; box-shadow: rgb(73, 69, 52) 2px 2px 4px; transition: all 0.5s ease 0s; }
.card:hover { box-shadow: rgba(0, 0, 0, 0.694) 0px 5px 15px; transform: translateY(-15px); }
.card .content { position: relative; z-index: 100; width: 100%; height: 100%; border-radius: 5px; display: flex; flex-direction: column; overflow: hidden; text-align: center; padding: 10px; background: rgb(255, 255, 255); }
.card .content .img { height: 50%; margin-bottom: 20px; }
.card .content .img img { position: relative; width: 150px; height: 150px; border-radius: 50%; object-fit: cover; box-shadow: rgb(73, 69, 52) 2px 2px 2px; }
.card .content span { position: absolute; width: 350px; height: 200px; background: linear-gradient(to right, rgb(230, 169, 26), rgb(58, 207, 192)); transform: rotate(-35deg); top: -80px; left: -100px; }
.card .content h2 { font-size: 20px; color: rgb(230, 169, 26); font-weight: bold; margin-bottom: 5px; z-index: 1; }
.card .content h5 { font-size: 15px; margin-top: 10px; }
.card .links { position: absolute; z-index: 90; width: 50px; display: flex; flex-direction: column; gap: 7px; background: rgba(255, 255, 255, 0.5); box-shadow: rgba(73, 69, 52, 0.4) 2px 3px 5px; padding: 15px; align-items: center; right: 10px; top: 8px; transition: all 0.5s ease 0s; }
.card:hover .links { right: -50px; border-radius: 0px 10px 10px 0px; }
.card .links a { font-size: 25px; color: rgb(100, 96, 105); margin: -2px; }
.card .links a:nth-child(1):hover { color: rgb(238, 32, 52); }
.card .links a:nth-child(2):hover { color: rgb(14, 118, 168); }
.card .links a:nth-child(3):hover { color: rgb(136, 16, 160); }
@media (min-width: 512px) {
  .Valores { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); margin-bottom: 2em; }
  .Valores img { width: 320px; margin: 0px; }
  .Valores h6 { text-align: left; }
  .Valores p { text-align: left; font-size: 15px; width: 15em; }
  .Mision { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-auto-flow: dense; direction: rtl; margin-bottom: 2em; }
  .Mision h6 { text-align: right; }
  .Mision p { text-align: right; margin-left: 2em; margin-right: 0px; font-size: 15px; }
  .Vision { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
  .Vision h6 { text-align: left; }
  .Vision p { text-align: left; font-size: 15px; }
  .div-tarjeta { padding: 1em 6em; }
  .card { margin: 2.1em; width: 220px; }
  @media (min-width: 768px) {
  .Valores { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); margin-bottom: 2em; }
  .Valores img {width: 320px;margin: 0px;padding: 0;}
  .Valores h6 {text-align: left;width: 15em;}
  .Valores p {text-align: left;font-size: 15px;width: 30em;padding: 0 50px 0 0;}
  .div-tarjeta { padding: 1em; }
  .card { margin: 2.1em; width: 220px; }
}
}
