@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  min-width: 100vw;
  background-color: #f0f0f0;
}

/* Banner */

header {
  margin: 0;
  background-color: #f0f0f0;
}

.logo-container a {
  width: 100vw;
  display: block;
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 10em;
  padding: 2em 0;
  margin: 0px 2em
}

.nav-inicio {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  color: #4483ce;
  font-weight: 500;
  font-family: 'Sora', sans-serif;
  padding: 0 0 2em 0;
  background-color: #f0f0f0;
}

.nav-inicio li {
  padding: 7px 25px;
  border-radius: 7px;
  cursor: pointer;
}

.nav-inicio li:hover {
  background-color: #4483ce;
  color: #fff;
  padding: 7px 25px;
  border-radius: 7px;
}

.titulo-banner {
  font-weight: 500;
  color: #ffffffef;
  text-shadow: 2px 1.5px 1.5px black;
}

.texto-banner {
  color: #ffffffef;
  text-shadow: 2px 1.5px 1.5px black;
}


/* Banner -------- fin */

/*Estilo Categorias*/

.container-post{
  background-color: #4483ce;
}

input[type="radio"]{
  display: none;
}

.container-category{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.container-category label{
  padding: 6px 40px;
  margin: 10px;
  font-size: 20px;
  background: #e2e2e2;
  border-radius: 5px;
  cursor: pointer;
}

.container-category label:hover{
  opacity: 0.8;
}



/* Estilo publicaciones*/
.posts{
  background-color: aqua;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  place-items: center;
}

.posts .post{
  width: 350px;
  box-shadow: 0 0 20px -20px black;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 20px;
}

.post h2{
  font-size: 25px;
  margin-top: 20px;
  padding: 0px 20px;
}

.posts .post .ctn-img{
  width: 100%;
}

.posts .post .ctn-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post h3{
  font-size: 18px;
  margin-top: 20px;
  padding: 0px 20px;
}


/*sistema de filtrado*/
[value="Tecnología"]:checked ~.posts .post:not([data-category~="Tecnología"]){
  display: none;
}










/* RESPONSIVE */


/* Responsive para Tablet de 768 para arriba */
@media (min-width: 768px) and (max-width: 1024px) {


/* Banner */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
  }

  .logo-container a {
    width: 100%;
  }

  .nav-inicio {
    padding: 0;
    margin: 0 1em;
  }

  .logo-container img {
    width: 9em;
  }

  .carousel {
    background-color: #f0f0f0;
  }

  .carousel-inner img {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
    height: 325px;
  }

  .carousel-inner {
    height: 400px;
    padding: 0 3em 1em 3em;

  }

/* Banner -------- fin */

}





/* Responsive para PC de 1024 para arriba */

@media (min-width: 1024px) {

/* Banner */

  body {
    padding: 0 20%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container a {
    width: 100%;
  }

  .nav-inicio {
    padding: 0;
    margin: 0 1em;
  }

  .logo-container img {
    width: 9em;
  }

  .carousel {
    background-color: #f0f0f0;
  }

  .carousel-inner img {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
    height: 450px;
  }

  .carousel-inner {
    padding-bottom: 1em;
  }

/* Banner -------- fin */

}