@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


body {
  font-family: 'Sora', sans-serif;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #3399ff;
}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.4;
}

.shade3{
  opacity: 0.6;
}

.shade4{
  opacity: 0.7;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}

#tarjetaRegistro {
  padding: 1em;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: rgba(147, 206, 222, 1);
  background: -moz-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  background: -o-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  background: -ms-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1);
  width: 220px;
  height: 405px;
  padding: 50px 18px 50px 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.registro h2 {
  color: #f0f0f0;
  text-shadow: 1.5px 0.5px 0.5px black;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.formulario-registro {
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  margin-top: 0.5em;
}

.titulo--parte-1 {
  color: #e6a91a;
}

.titulo--parte-2 {
  color: #3acfc0;
}

.formulario-registro input {
  border-radius: 10px;
  border: 0;
  padding: 3px;
  outline: none;
  /*para quitar el bordeado negro*/
  margin-top: 0px;
  height: 30px;
}

.formulario-registro button {
  margin: 7px 0;
  padding: 7px 20px;
  text-align: center;
  transition: .5s;
  color: #000;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 8px 5px 17px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 5px 17px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 5px 17px 0px rgba(0, 0, 0, 0.5);
}

.formulario-registro button:hover {
  transition: .8s ease;
  background: rgb(0, 0, 0);
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.165703781512605) 0%, rgba(58, 207, 192, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.165703781512605) 0%, rgba(58, 207, 192, 1) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.165703781512605) 0%, rgba(58, 207, 192, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#3acfc0", GradientType=1);
  color: #f0f0f0;
}


#girar-aregistro{
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

p {
  color: #343434;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  margin: 0;
  /*no se vea el letrero*/
}

#iniciar-sesion:hover {
  opacity: 1;
  transition: .5s ease;
  color: #ffd675;
}

#iniciar-sesion>p:hover {
  opacity: 1;
  transition: .5s ease;
  color: #ffd675;
}

#home:hover{
  opacity: 1;
  transition: .5s ease;
  color: #ffd675;
}

#home:hover {
  color: #ffd675;
  transition: .5s ease;
}

#girar-aregistro:hover {
  opacity: 1;
  transition: .5s ease;
  color: #ffd675;
}

#girar-aregistro>p:hover {
  opacity: 1;
  transition: .5s ease;
  color: #ffd675;
}

/*----------------- inicio de sesion --------------------*/
#iniciar-sesion {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inicio-sesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: rgba(147, 206, 222, 1);
  background: -moz-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  background: -o-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  background: -ms-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1);
  width: 220px;
  height: 420px;
  padding: 30px 18px 30px 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.inicio-sesion h2 {
  color: #f0f0f0;
  text-shadow: 1.5px 0.5px 0.5px black;
  font-size: 20px;
  text-align: center;
}

.formulario-inicio {
  display: flex;
  flex-direction: column;
  gap: .8em;
  align-items: center;
}

.formulario-inicio input {
  border-radius: 10px;
  border: 0;
  padding: 5px;
  outline: none;
  /*para quitar el bordeado negro*/
  margin-top: 5px;
  height: 35px;
}

#result {
  font-size: 15px;
  padding-top: 10px;
}

.formulario-inicio button {
  margin: 7px 0;
  padding: 7px 20px;
  text-align: center;
  transition: .5s;
  color: #000;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 8px 5px 17px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 5px 17px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 5px 17px 0px rgba(0, 0, 0, 0.5);
}

.formulario-inicio button:hover {
  transition: .8s ease;
  background: rgb(0, 0, 0);
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.165703781512605) 0%, rgba(58, 207, 192, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.165703781512605) 0%, rgba(58, 207, 192, 1) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.165703781512605) 0%, rgba(58, 207, 192, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#3acfc0", GradientType=1);
  color: #f0f0f0;
}

form>a {
  font-size: 12px;
  justify-content: center;
}

.links-inicio-sesion {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  gap: 90px;
}

.links-inicio-sesion>fa-solid,
a {
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #343434;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}


.links-registro {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 90px;
}


.links-registro>fa-solid,
a {
  gap: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: #343434;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.girar-Alogin{
  display: flex;
  gap: 5px;
}

.Alogin-giro:hover{
  opacity: 1;
  transition: .5s ease;
  color: #ffd675;
}

.Alogin-giro>p:hover{
  opacity: 1;
  transition: .5s ease;
  color: #ffd675;
}

#texto-inicio{
  white-space: nowrap;
}

.rotated {
  transform: rotate3d(0, 1, 0, 60deg);
  background-color: pink;
}
.inner {
          animation: animate 1.25s linear;
}

@keyframes animate {
  to {
      -webkit-transform: rotateY(180deg);
  }
}